.fa {
    text-align: center;
    text-decoration: none;
  }

.fa-facebook {
  padding: 5px;
  color: black;
}

.fa-twitter {
  padding: 5px;
  color: black;
}

.fa-instagram {
  padding: 5px;
  color: black;
}

